#footer-sidebar{
	background-color: #670031;
	color: #fff;
	text-align:center;
	padding: 25px 10%;

	div#footer-sidebar3 {
		text-align: right;

	}
	div#footer-sidebar2 {

		.widget {
			.footer-logo {
				max-width:200px;
			}
		}

	}
	div#footer-sidebar1 {
		text-align: left;
		.widget {
			ul#menu-footer-nav {
				list-style: none;
				padding-inline-start: 0;
			}
		}
	}
	.col-sm-4 {
		.widget {
			.textwidget {
					p {
						color:$white;
					}
			}
		}
	}

}
.site-info{
	background-color: #3c011d;
	padding: 10px 0;
	text-align:center;
	color:#f1f1f1;
}

.menu-footer-nav-container {
    text-align: left;}

h3.widget-title {
   text-transform: uppercase;
   font-size: 15px;
   color:$gold;
}

.textwidget {
    font-size: 15px;
}
img.built-by {
    max-width:120px;
}
