.top-header-3{
	height: 7rem;
	background-color: #83003f;
//	padding: 1.5rem 2rem;
	border-bottom: 3px solid $gold;
}

.site-branding{
	left:2rem;
	top:0;
	float: left;
	position: absolute;
}

.social{
	display:inline-block;
	a {
		padding:0.2rem;
	}
	.fa-stack {
		width:unset;
	}
}
.social-email {
    display:inline-block;
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    padding: 0 10px;
    text-transform: uppercase;
}
img.social-icon {
    max-width: 18px;
   // padding: 0 5px;
}

.top-header{
	height: auto;
	background-color: #83003f;
	padding: 13px 12%;
}

.site-branding{
	text-align: left;
	float: left;
}

.social-email {
    display:inline-block;
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
}
/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
.navigation {
	   background-color: #5f002d;

    font-weight: 500;
    /* border-style: solid; */
    border-top: 2px solid #c1a310;
}
.main-navigation {
	text-align:right;
	color: #f1f1f1;
	display: inline;
	float: right;
	margin-right:2rem;
	height: 100%;

	.menu-toggle{
		display:none;
	}
	li {
		float: none;
		text-align: center;
		height: 100%;
		display:inline-block;
		position: relative;
		padding:10px 1.5rem;
		padding-top:4rem;
		&:hover {
			background:$secondary;
		}
	}
	ul {
		display: none;
		list-style: none;
		height: 100%;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			height:auto;
			left: -999em;
			z-index: 99999;
			a {
				width: 200px;
			}
			li {
				padding-top:10px;
				text-align:left;
			}
			ul {
				left: -999em;
				top: 0;
			}
		}

	}
}
.sub-menu {
    background-color: #83003f;
}
.menu-main-container {
	display: inline-block;
	height: 100%;
}
ul.children {
	background-color: #83003f;
}
.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}
.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: 0;
}
.main-navigation a {
	display: inline-block;
	text-decoration: none;
	font-size:rem(12);
	text-transform:uppercase;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: $screen-lg) {


	.main-navigation {
		ul {
			display: block;

		}

	}


}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
	img {
		max-width:240px;
	}
}
@media screen and (max-width: $screen-xl) {
	.social {display:none;}
	.site-branding {
		left:0.5rem;
		a {
			img {
				max-width:190px;
			}
		}
	}
	.main-navigation {
		margin-right:0.5rem;
			ul {
				li {
					padding:10px;
					padding-top: 4rem;

				}
			}


	}
}


@media screen and (max-width: $screen-lg) {
	.top-header-3 {
    height: 6rem;
    background-color: $primary;
    padding: 13px 1%;
}
    .social-mob {
        display:block;
    }
    .social {display:none;}



    .site-branding {
    text-align: center;
    float: none;
    }
	.main-navigation {
		button.menu-toggle{
			position:absolute;
			right:0;
			text-align:center;
			background:none;
			border:none;
			display:block;
		}
	}
    .main-navigation.toggled {
		background:$primary;
		width:100%;


		.menu-main-container {
			height:auto;
			position: absolute;
			background: #83003f;
			top: 6rem;
			left: 0;
			z-index: 999999999;
			width: 100%;
		}
		ul {
			height:auto;
		}
		li {
			float: none;
			text-align: left;
			display: block;
			height:auto;
			position: relative;
			padding: 10px;
		}
	}

}



.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
