#event-feed {
	.posts {
		display:table;
		min-height:500px;
		.post-inner {
			height:100%;
			position:relative;
			display:table-cell;
			background:$accent;
			text-align:center;

			vertical-align:middle;
			.overlay {
				background-color: rgba(235,235,238,0.76);
				position:absolute;
				top:0;
				bottom:0;
				left:0;
				right:0;
			}
			a {
				position:relative;
				.news-heading {

				}
			}
			.excerpt {
				position:relative;
			}

		}
	}
}
