.supporter {

	#accordion {
		.card {
			img {
					text-align:center;
					max-width:180px;
					margin:0 auto;

			}
		}
	}
}
.sponsor-section {
	padding:2rem 0;
	h3 {
		color:$primary;
	}

}
.platinum {
	.card {
		.card-title {
			text-align:center;
		}
		.card-text {
			p {
				text-align:center;
				color:$primary;
				font-weight:600;
			}

		}
		img {
			max-width: 700px;
			margin: 0 auto;
		}
	}
}

.gold {
	.card {
		img {
			max-width: 400px;
			margin: 0 auto;
		}
	}
}
