.thin_subscribe{
	background:$light-grey;
	padding:2rem 0;

	#mc_embed_signup {
		form {
			input {
				margin:5px 0;
				border: 1px solid #e4e4e4;
				padding: 0px 0.4em;
				height: 32px;
			}
			input.button {
				padding:10px;
				height:unset;
				border:none;
			}
		}
	}
}
